*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
:root{
    --primary: #1a1a1a;
    --secondary: #c19a6b;
    --danger: #a23e48;
    --text: #f4e9cd;
    --texthover: #fff8dc;
    --button: #0072bb;
    --hover: #005f99;
}
body{
    height: 100vh;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background: var(--primary);
    /* background: red; */
}

.left_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background-color: var(--secondary);
    backdrop-filter: blur(10px);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.3);
}

.left_nav .links {
    display: flex;
    flex-direction: column;
    height: 50px;
    align-items: center;
    gap: 10px;
    color: var(--text);
    text-decoration: none;
    font-size: 16px;
    transition: background 0.3s, transform 0.2s;
    padding: 8px 10px;
    border-radius: 8px;
}

.left_nav .links:hover {
    background: var(--texthover);
    color: var(--hover);
    transform: translateX(5px);
}

.left_nav .links.active {
    background: var(--hover);
    color: var(--texthover);
    transform: translateX(5px);
}

.left_nav img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
}

.top_nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: var(--secondary);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.top_nav a {
    color: var(--text);
    text-decoration: none;
    font-size: 28px;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.top_nav a span{
   font-family: "Eagle lake", serif;
}

.top_nav .option{
    display: flex;
    align-items: center;
    gap: 10px;
}

.top_nav .option input[type="search"]{
color: var(--text);
font-weight: 600;
border-radius: 10px;
padding:2px 10px ;
height: 30px;
}

.top_nav .option a img {
    border-radius: 50%;
    border: 2px solid var(--text);
    height: 40px;
    width: 40px;
}
.sort {
    position: sticky;
    top: 60px;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: transparent; 
    z-index: 999;
}

.sort a {
    padding: 8px 16px;
    border: 4px solid var(--secondary);
    border-radius: 20px;
    text-decoration: none;
    color: var(--text);
    font-size: 15px;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}

.sort a:hover {
    background: var(--hover);
    color: var(--texthover);
}

.profile_picture {
    background: url('../asset/img/Profile.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: local;
    box-shadow: 2px 0 10px rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    z-index: 999;
    position: fixed;
    right: -100%;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.profile_picture.active{
    right: 0;
}

.profile_picture .content {
    border: 2px solid white;
    background: rgba(129, 129, 129, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 250px;
    margin-top: 50px;
    gap: 20px;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* background: blue; */
}

.image-label {
    position: relative;
    width: 150px;
    height: 150px;
    /* background: red; */
    cursor: pointer;
    margin-bottom: 50px;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ccc;
    transition: 0.3s;
}

.image-label:hover .profile-img {
    opacity: 0.7;
    border-color: #888;
}

#image {
    display: none;
}

.upload-btn {
    position: absolute;
    bottom: 160px;
    right: 95px;
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: #000000;
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.profile_picture .content p{
    color: var(--secondary);
}
.profile_picture .content a{
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ffffff;
    color: var(--secondary);
}

.profile_picture .content a img{
    filter: invert(100%);
}

.content1{
    /* background: red; */
    padding: 10px;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    height: 80%;
    bottom: -100%;
    right: 10px;
    overflow-y: auto;
    transition: bottom 0.4s ease;

}
.content2{
    /* background: red; */
    padding: 10px;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    height: 80%;
    bottom: -100%;
    right: 10px;
    overflow-y: auto;
    transition: bottom 0.4s ease;

}

.content1 .card {
    width: 250px;
    background-color: var(--secondary);
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
    height: 50%;
    width: 13%;
}

.content1 .card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.content1 .card h3 {
    margin: 16px 0 8px;
    font-size: 20px;
    color: var(--text);
}

.content1 .card p {
    margin: 4px 0;
    color: var(--text);
    font-size: 14px;
}

.content1 .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.content2 .card {
    width: 250px;
    background-color: var(--secondary);
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
    height: 50%;
    width: 13%;
}

.content2 .card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.content2 .card h3 {
    margin: 16px 0 8px;
    font-size: 20px;
    color: var(--text);
}

.content2 .card p {
    margin: 4px 0;
    color: var(--text);
    font-size: 14px;
}

.content2 .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.content3{
    /* background: blue; */
    position: fixed;
    width: 90%;
    height: 80%;
    bottom: 0;
    right: 10px;
    transition: bottom 0.4s ease;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content3 .card {
background-color: var(--secondary);
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
display: flex;
width: 90%;
margin: 10px;
border-radius: 10px;
}

.content3 .card img {
    width: 120px;
    height: 180px;
    margin: 10px;
    border-radius: 5px;
}

.content3 .card h3 {
    margin: 16px 0 8px;
    font-size: 20px;
    color: var(--text);
}

.content3 .card p {
    margin: 4px 0;
    color: var(--text);
    font-size: 14px;
}
.content3 .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}